
.box01{
width: 200px;
height: 70px;
margin: 0 auto;
background-color: green;
}

.box02{
width: 300px;
margin: 0 auto;
background-color: blue;
}

.box03{
width: 200px;
height: 70px;
margin: 0 auto;
background-color: green;
}

.input-field{
    margin: 0 auto;
}

.box04{
width: 300px;
margin: 0 auto;
background-color: rgba(247, 163, 247, 0.521);
}
